.not-found-page{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.not-found-page-block{
    margin: 205px 0 205px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h-error-404{
    margin: 0;
    font-size: 220px;
    font-weight: bold;
    line-height: 1.4;
    color: white;
}

.not-found-page-back-btn{
    margin-top: 40px;
    height: 50px;
    width: 210px;
}

@media (max-width: 1439px) {
    .h-error-404{
        font-size: 200px;
    }
}

@media (max-width: 767px) {
    .not-found-page-block{
        margin: 150px 0 150px 0;
        width: 344px;
    }
    .h-error-404{
        font-size: 120px;
    }

    .not-found-page-back-btn{
        height: 50px;
        width: 100%;
    }
}
