.portfolio-page {
    overflow: hidden;
}

.portfolio-page-body {
    margin: 30px 150px 140px 150px;
}

.back-conteiner-portfolio-page {
    display: flex;
}

.btn-back-portfolio-page {
    background-color: initial;
    border: initial;
    cursor: pointer;
}

.portfolio-page-component-1 {
    margin: 47px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-page-title {
    width: 350px;
}

.portfolio-page-component-1 > :nth-child(1) {
    text-align: center;
}

.portfolio-page-component-1 > :nth-child(2) {
    width: 100%;
    margin: 30px 0 0 0;
}

.portfolio-page-block-1 {
    margin: 15px 0 0 0;
    width: 100%;
    height: 372px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-page-block-1-de-1 {
    height: 585px;
    width: 962px;
    filter: blur(100px);
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(-40%, 50%);
    background: radial-gradient(ellipse, #7070FF 0%, #060610 100%);
    opacity: 0.15;
}

.portfolio-page-block-1-de-2 {
    height: 585px;
    width: 962px;
    filter: blur(100px);
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(40%, -50%);
    background: radial-gradient(ellipse, #7070FF 0%, #060610 100%);
    opacity: 0.15;
}

.portfolio-page-logo {
    height: 212px;
    width: 212px;
}

.portfolio-page-component-2 {
    margin: 140px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-page-block-2-top {
    display: flex;
    gap: 12px;
    height: auto;
    margin-top: 30px;
}

.portfolio-page-about-company {
    gap: 20px;
    padding: 20px;
    width: 60%;
    margin-right: 0;
}

.portfolio-page-purpose {
    gap: 20px;
    padding: 20px;
    width: 40%;
}

.portfolio-page-block-2-bottom {
    margin-top: 12px;
    width: 100%;
}

.portfolio-page-tasks {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    padding: 20px;
    width: 100%;
    min-height: 300px;
}

.portfolio-page-tasks > h {
    min-width: 153px;
    width: 20%;
}

.portfolio-page-tasks-block {
    height: 100%;
    width: 80%;
    position: relative;
}

.portfolio-page-tasks-block div {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 20px;
    margin-bottom: 20px;
}

.portfolio-page-tasks-block div :nth-child(2) {
    z-index: 1;
}

.task-number {
    z-index: 2;
}

.tascks {
    position: relative;
}

.vertical-line {
    position: absolute;
    left: 21px;
    top: 20px;
    width: 1px;
    height: 100%;
    background-color: #222294;
    z-index: 1;
}

.tascks:last-child .vertical-line {
    display: none;
}

.portfolio-page-component-3 {
    margin: 140px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.portfolio-page-component-3-blocks {
    margin-top: 12px;
    display: flex;
    width: 100%;
}

.portfolio-page-component-3-left-block {
    width: 70%;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-right: 12px;
    position: relative;
}

.portfolio-page-component-3-de {
    height: 200px;
    width: 409px;
    filter: blur(30px);
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(50%, 50%);
    background: radial-gradient(ellipse, #1616B4 0%, #060610 100%);
    opacity: 0.20;
}

.portfolio-page-component-3-right-block {
    width: 30%;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.big-number {
    margin: 0;
    font-size: 150px;
    font-weight: bold;
    background: linear-gradient(270deg, #222294 0%, #22D1C9 100%);
    -webkit-background-clip: text;
    color: transparent;
}

@media (max-width: 1439px) {
    .portfolio-page-body {
        margin: 30px 10px 140px 10px;
    }

    .portfolio-page-component-1 {
        margin: 77px 0 0 0;
    }

    .portfolio-page-component-2 {
        margin: 140px 0 0 0;
    }

    .portfolio-page-component-3 {
        margin: 140px 0 0 0;
    }

    .portfolio-page-block-1-de-1 {
        height: 585px;
        width: 816px;
        left: 0;
        bottom: 0;
        transform: translate(-50%, 50%);
    }

    .portfolio-page-block-1-de-2 {
        height: 585px;
        width: 816px;
        right: 0;
        top: 0;
        transform: translate(50%, -50%);
    }

    .portfolio-page-block-2-top {
        flex-wrap: wrap;
    }

    .portfolio-page-about-company {
        width: 100%;
        margin-right: 0;
        align-items: start;
    }

    .portfolio-page-purpose {
        width: 100%;
        align-items: start;
    }

    .portfolio-page-tasks > h {
        width: 15%;
    }

    .portfolio-page-tasks-block {
        width: 85%;
    }

    .portfolio-page-component-3-blocks {
        flex-direction: column;
        gap: 12px;
    }

    .portfolio-page-component-3-left-block {
        width: 100%;
    }

    .portfolio-page-component-3-right-block {
        width: 100%;
    }

    .big-number {
        font-size: 140px;
    }
}

@media (max-width: 767px) {
    .portfolio-page-body {
        margin: 30px 10px 120px 10px;
    }

    .back-conteiner-portfolio-page {
        margin: 20px 0 0 0;
        display: flex;
    }

    .portfolio-page-component-1 {
        margin: 77px 0 0 0;
    }

    .portfolio-page-component-2 {
        margin: 120px 0 0 0;
    }

    .portfolio-page-component-3 {
        margin: 120px 0 0 0;
    }

    .portfolio-page-block-1-de-1 {
        height: 295px;
        width: 412px;
        left: 0;
        bottom: 0;
        transform: translate(-50%, 50%);
    }

    .portfolio-page-block-1-de-2 {
        height: 295px;
        width: 412px;
        right: 0;
        top: 0;
        transform: translate(50%, -50%);
    }

    .portfolio-page-logo {
        height: 160px;
        width: 160px;
    }

    .portfolio-page-tasks {
        display: flex;
        flex-direction: column;
        gap: 26px;
    }

    .portfolio-page-tasks-block div {
        margin-bottom: 12px;
    }

    .big-number {
        font-size: 110px;
    }
}